<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="engenharia, laudo, art, laudo art">
  <title>S3 Engenharia</title>
  <link rel="icon" type="image/x-icon" href="">

  <!-- Adding style with CSS -->
  <link rel="stylesheet" href="/view/CSS/reset.css">
  <link rel="stylesheet" href="/view/CSS/header.css">
  <link rel="stylesheet" href="/view/CSS/main.css">
</head>

<body>
  <header>
    <div class="box-logo">
      <a href="#">
        <p class="logo-oficial"><span class="logo-height">S3</span>Engenharia</p>
      </a>
    </div>

    <div class="social-icons">
      <div class="linkdin-icon">
        <a href="https://tinyurl.com/2m6uh3dt" target="_blank">
          <img class="icon-picture" src="https://tinyurl.com/ynnz2en4" alt="linkedin" />
        </a>
      </div>
      <div class="instagram-icon">
        <a href="https://tinyurl.com/k3jjaeey" target="_blank">
          <img class="icon-picture" src="https://tinyurl.com/4sbvb8wn" alt="instagram" />
        </a>
      </div>
      <div class="whatsapp-icon">
        <a href="https://tinyurl.com/3xwb8phu" target="_blank">
          <img class="icon-picture" src="https://tinyurl.com/2wxp8vfz" alt="whatsapp" />
        </a>
      </div>
    </div>

  </header>
  <main>
    <div class="featured-container">
      <div class="home-content">
        <div class="call-container">
          <div class="highlighted-title-container">
            <h1 class="title-emphasis">LAUDOS ART</h1>
            <h2 class="descript-emphasis">Obtenha qualidade e segurança <br> técnica para seu <span class="yellow-font">
                projeto, obra ou
                reforma</span></h2>

            <div class="budgets-button">
              <div class="descript-text-btn">
                <a id="request-a-quote" href="#">Solicitar orçamento</a>
              </div>
            </div>

          </div>

          <div class="home-cards-section">
            <div class="home-cards">
              <p class="text-card">O que é, e para que serve um laudo ART?</p>
              <a class="text-card-p" href="#">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container-services">
        <div>
          <h2 class="title-services">Conheça o passo-a-passo para obter seu laudo ART</h2>
          <p class="descript-services">Somos qualificados na elaboração de laudos ART, com atendimento priorizado,
            suporte integral e transparência no relacionamento.</p>
        </div>

        <div class="grid-steps-cards">
          
          <div class="card-service">
            <div class="icon-service">
              <img class="icon-picture"
              src="/images/taxi-phone-apps.png" alt="phone">
            </div>
            <div class="text-card-service">
              <h3 class="title-card-service">Solicitação</h3>
              <p class="descript-service-card">O primeiro passo, entrar em contato conosco, e especificar sua necessidade. </p>
            </div>
          </div>

          <div class="card-service">
            <div class="icon-service">
              <img class="icon-picture"
              src="/images/taxi-ai-data-analysis.png" alt="phone">
            </div>
            <div class="text-card-service">
              <h3 class="title-card-service">Análise Técnica</h3>
              <p class="descript-service-card">Nosso engenheiro analisará as informações e realizará uma visita técnica ao imóvel para estudo. </p>
            </div>
          </div>

          <div class="card-service">
            <div class="icon-service">
              <img class="icon-picture"
              src="/images/taxi-hand-holding-a-sheet-of-paper-with-text.png" alt="phone">
            </div>
            <div class="text-card-service">
              <h3 class="title-card-service">Emissão do Laudo</h3>
              <p class="descript-service-card">Através do estudo técnico será emitido o laudo ART, constando todas as especificações necessárias para o projeto. </p>
            </div>
          </div>
          
        </div>

        </div>
      </div>
    </div>



  </main>

  <script type="text/javascript" src=""></script>
</body>


</html>