<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="engenharia, laudo, art, laudo art">
  <title>S3 Engenharia</title>
  <link rel="icon" type="image/x-icon" href="">

  <!-- Adding style with CSS -->
  <link rel="stylesheet" href="/view/CSS/reset.css">
  <link rel="stylesheet" href="/view/CSS/header.css">
  <link rel="stylesheet" href="/view/CSS/main.css">
</head>

<body>
  <header>
    <div class="left-section">
      <div class="box-logo">
        <a href="#">
          <img class="picture-logo" src="/images/logo-ofc.png" alt="S3 engenharia">
        </a>
      </div>
    </div>


  </header>
  <main>
    <div class="featured-container">
      <div class="home-content">
        <div class="grid-container">
          <div class="highlighted-title-container">
            <h1 class="title-emphasis">LAUDOS ART</h1>
            <h2 class="descript-emphasis">Obteha segurança técnica <br> para seu <span class="yellow-font"> projeto, obra ou
                reforma</span></h2>

            <div class="budgets-button">
              <div class="descript-text-btn">
                <a id="request-a-quote" href="#">Solicitar orçamento</a>
              </div>
            </div>

          </div>

          <div class="home-cards-section">
            <div class="home-cards">
              <p class="text-card">Como obter o laudo ART para seu projeto</p>
              <a class="text-card-p" href="#">Saiba mais</a>
            </div>
            <div class="home-cards">
              <p class="text-card">Como obter o laudo ART para seu projeto</p>
              <a class="text-card-p" href="#">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </main>

  <script type="text/javascript" src=""></script>
</body>


</html>