:root {
  /* Colors */
  --light-30: #f2f2f2;
  --light-20: #d9d9d9;
  --dark-10: #1a1919;
  --orange-30: #fbc105;

  /* Fonts  */
  --font-family-title: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  width: 100vw;
  height: 100%;
}

header {
  align-items: center;
  background-color: var(--dark-10);
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;

}

.left-section,
.right-section,
.box-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-logo {
  width: 60px;
  height: 27px;
}


.picture-logo {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;
  padding: 4px 14px 4px 14px;
}

a {
  text-decoration: none;
  color: var(--dark-10);
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: var(--min-size);
  letter-spacing: 0.8px;
}

.descript-text-btn {
  font-family: var(---font-family-title);
  font-weight: 400;
  font-size: 15px;
}


@media screen and (min-width: 767px) {
  header {
    padding: 0 90px;
  }
}

@media screen and (max-width: 1279px) {
  header {
    padding: 0 120px;
  }
}

  

