@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lexend+Deca:wght@100..900&display=swap');

:root {
  /* Colors */
  --light-30: rgb(259, 259, 259);

  --dark-10: #1a1919;
  --yellow-30: #Fbc105;

  /* Fonts  */
  --font-family-title: system-ui, -apple-system, "Open Sans", "Helvetica Neue",
    sans-serif;

  --font-family-Lexend: "Lexend Deca", sans-serif;
}

.featured-container {
  display: block;
  height: 550px;
}

.home-content {
  background: rgba(64, 64, 64, 0.5);
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  background-image: url(/images/AdobeStock_265047060.jpeg);
  padding: 50px 45px;
}

.highlighted-title-container {
  font-family: var(--font-family-title);
}

.title-emphasis {
  font-family: var(--font-family-Lexend);
  color: var(--light-30);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.descript-emphasis {
  color: var(--light-30);
  font-family: var(--font-family-title);
  font-size: 24px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 30px;
  margin-bottom: 30px;
}

.yellow-font {
  color: var(--yellow-30);
  font-weight: 400;
}

.budgets-button {
  background-color: var(--yellow-30);
  color: var(--dark-10);
}

.budgets-button:hover {
  background-color: var(--light-30);
}

#request-a-quote {
  font-family: var(--font-family-Lexend);
  font-weight: 400;
  color: var(--dark-10);
}

.home-cards-section {
  font-family: var(--font-family-Lexend);
}

.home-cards {
  letter-spacing: normal;
  background-color: var(--dark-10);
  color: var(--light-30);
}

.text-card-p {
  color: var(--yellow-30);
  cursor: pointer;
}

@media screen and (min-width: 414px) {

  .home-content {
    padding: 50px 25px;
    display: flex;
    align-items: center;
  }

  .call-container {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    padding: 36px 24px;
  }

  .title-emphasis {
    font-size: 46px;
  }

  .descript-emphasis {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
  }

  .budgets-button {
    width: 100%;
    padding: 12px 24px;
    text-align: center;
  }


  .home-cards-section {
    display: grid;
    grid-auto-flow: row;
    margin-top: 40px;
  }

  .home-cards {
    font-size: 13px;
    line-height: 18px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

}

@media screen and (min-width: 768px) {
  .featured-container{
    height: 550px;
  }

  .home-content {
    display: flex;
    align-items: center ;
  }

  .call-container {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    padding: 36px 24px;
  }

  .title-emphasis {
    font-size: 48px;
  }

  .descript-emphasis {
    font-size: 24px;
  }

  .budgets-button {
    width: fit-content;
    padding: 12px 24px;
  }

  .home-cards-section {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
  }

  .home-cards {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    padding: 12px 60px;
  }
}

@media screen and (min-width: 1024px) {

  .call-container {
    display: grid;
    grid-auto-flow: column;
    padding: 36px 24px;
    gap: 36px;
  }

  .home-cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-cards {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    padding: 12px 24px;
    width: fit-content;
  }
}

@media screen and (min-width: 1440px) {
  .home-cards {
    font-size: 16px;
  }
}
